@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Montserrat&family=Noto+Sans:wght@200;400&family=Pixelify+Sans&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    width: 100%;
    height: 100%;
    background-color: #040025;
}


#loader-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 9999; /* Ensure it's on top of other content */
    border-radius: 0;
}

.fullpage {
    display: none;
 
}

.section {
    width: 100%;
    height: 100%;
    background-color: #040025;
}

.text {
    color: #fff;
    transition: all 200ms ease-in-out;
}


::-webkit-scrollbar {
    width: 2px;
    background-color: #01020c;
}


#home {
    height: 49rem;
    
}

#model {
    object-fit: contain;
    height: 90vh;
    width: auto;
    margin-left: -6rem;
    
    
}
model-viewer {
    width: 100vh;
    height: 90vh;
}

#heading {
    font-size: 6rem;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 400;
    float: right;
    width: 10rem;
    margin-right: 40rem;
    margin-top: -20rem;
}

video::-internal-media-controls-overlay-cast-button {
    display: none;
}

li {
    --c: goldenrod;
    color: var(--c);
    font-size: 1.5rem;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 16em;
    height: 4em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3.3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin-top: -8rem;
    font-family: "Poppins", sans-serif;
    margin-left: 35rem;
}
li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}li:hover {
    color: black;
}

li:hover span {
    transform: translateY(0) scale(4);
}
li span:nth-child(1) {
    --n: 1;
}

 li span:nth-child(2) {
    --n: 2;
}

 li span:nth-child(3) {
    --n: 3;
}

 li span:nth-child(4) {
    --n: 4;
}


#about {
    background: #013459;
    height: 50rem;
}

#heading-about {
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 400;

}

#description {
    font-family: "Poppins", sans-serif;
    margin-left: 2rem;
    font-size: 1.5rem;
    width: 35rem;
    padding-top: 4rem;
    
    font-weight: 200;
}

#pyrodescription {
    font-family: "Poppins", sans-serif;
    margin-right: 1rem;
    font-size: 1.5rem;
    width: 30rem;
    margin-top: -13rem;

    font-weight: 200;
    float:right;
}
#pyrodescription1 {
    font-family: "Poppins", sans-serif;
    margin-right: -30rem;
    font-size: 1.5rem;
    width: 30rem;
    margin-top: -35rem;
    float:right;
    font-weight: 200;
}



#ordinimage {
    float: right;
    margin-right: 2rem;
    margin-top: -18rem;
    width: 25rem;
    
    font-weight: 200;
}



#pyroimage {
    float: left;
    margin-left: 2rem;
    width: 20rem;
    margin-top: 3rem;
}

#stars {
    margin-left: -26rem;
}

#starline {
    margin-top: 10rem;
    margin-left: 18rem;
}

.active {
    background: -webkit-linear-gradient(0deg, rgba(255,0,236,1) 0%, rgba(73,25,220,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#grad {
    background: -webkit-linear-gradient(0deg, rgba(255,0,236,1) 0%, rgba(73,25,220,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#events {
    height: 50rem;
}

#heading-events {
    font-size: 5rem;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 400;
    padding-top: 1rem;
    margin-left: 5rem;
}
.card-container {
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
    margin-top: 2rem;
    gap: 2rem;
}

.card {
    border: 2px solid #b4b4b4;
    display: flex;
    flex-direction: column;
    width: 59rem;
    height: 8rem;
    border-radius: 20px;
    position: relative; /* Add position relative */
}

.card-container .card:nth-child(even) {
   margin-left: 15rem;
}

video {
    border-radius: 20px;
    position: absolute; 
    top: 0; left:0;
    width: 100%; height: 100%;
    z-index: 1;
}
.content {
    z-index: 1; /* Ensure content appears above the video */
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Distribute items along the main axis */
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 100%; /* Ensure content takes up full width */
}

#card-head {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    text-align: left;
    font-weight: 400;
    width: 5rem;
    margin-top: -1rem;
}

#card-d {
    
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 100;
    color: #979797;
   margin-left: 4rem;
    width: 25rem;
}

.btn.visit {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #b4b4b4;
    border-radius: 40px;
    padding: 0.5rem 4rem;
    cursor: pointer;
    border: 2px solid #fff;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    transition: all 200ms ease-in-out;
    margin-top: -1rem;
}

.visit:hover {
    background-color:transparent;
    color: #fff;

}

#team {

}

#heading-team {
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    text-align: right;
    font-weight: 400;
    padding-top: 1rem;
    margin-right: 5rem;
}

.container {
    display: flex;
    gap: 2rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    margin-left: 2rem;
}

.opt {
    cursor: pointer;
    transition: all 200ms ease;
}

.btn {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.control {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.controlalu {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media screen and (min-width: 1300px){
    #about {
        height: 140%;
    }
    #starline {
        margin-left: 19rem;
    }
}

@media screen and (min-width: 1900px) {
    #about {
        height: 100%;
    }
    #description {
        font-family: "Poppins", sans-serif;
        margin-left: 15rem;
        font-size: 1.7rem;
        width: 45rem;
        margin-top: 10rem;
    }
    
    #pyrodescription {
        font-family: "Poppins", sans-serif;
        margin-right: 20rem;
        font-size: 1.7rem;
        width: 42rem;
        margin-top: 8rem;
        float:right;
    }
    
    
    
    #ordinimage {
        float: right;
        margin-right: 20rem;
        margin-top: -22rem;
        width: 30rem;
        
    }
    
    
    
    #pyroimage {
        float: left;
        margin-left: 4rem;
        width: 20rem;
        margin-top: 3rem;
    }
    
    #stars {
        margin-left: -26rem;
    }
    
    #starline {
        margin-top: 10rem;
        margin-left: 30rem;
    }
    
    
}